.query-header {
   display: flex;
   flex: 1;
   align-items: flex-start;
   justify-content: space-between;
}

.query .hidden {
   display: none;
}

.header {
   padding: 15px;
   background-color: #111;
}

.query {
   position: relative;
   .warnings {
      position: absolute;
      right: 5px;
      top: 5px;
      font-weight: bold;
   }
}

.transaction {
   border-left: 3px solid #3273dc;
}

.transaction-tag {
   position: absolute;
   left: 0;
   top: 0;
   border-top-left-radius: 0 !important;
   border-bottom-left-radius: 0 !important;
}
