.query-header {
   display: flex;
   flex: 1;
   align-items: flex-start;
   justify-content: space-between;
}

.query .hidden {
   display: none;
}

.header {
   background-color: black;
   padding: 15px;
   color: white;
}

.query {
   position: relative;
   .warnings {
      position: absolute;
      right: 30px;
      top: 30px;
      font-weight: bold;
   }
}
